* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #c12c42;
 	font-size: 16px;
 }
.bg1{
	background-color:#fb927a;
}
.bg2{
	background-color:#fb6375;
}
.bg3{
	background-color: #9984e4;
}
.bg4{
	background-color:#82aee8;
}
.bg5{
	background-color:#7ecef4;
}
.bg6{
	background-color:#89c997;
}
.bg7 {
	background-color: #b6d172;
}
.bg8{
	background-color:#f6b37f;
}
.icon{
	display: inline-block;
	width: 55px;
	height: 58px;

}
.icon1{
	background: url("../images/icon1.png") no-repeat center;
	background-size: 70%;
}
.icon2{
	background: url("../images/icon2.png") no-repeat center;
	background-size: 80%;
}
.icon3{
	background: url("../images/icon3.png") no-repeat center;
	background-size: 80%;
}
.icon4{
	background: url("../images/icon4.png") no-repeat center;
	background-size: 80%;
}
.icon5{
	background: url("../images/icon5.png") no-repeat center;
	background-size: 80%;
}
.icon6{
	background: url("../images/icon6.png") no-repeat center;
	background-size: 80%;
}
.icon7{
	background: url("../images/icon7.png") no-repeat center;
	background-size: 80%;
}
.icon8{
	background: url("../images/icon8.png") no-repeat center;
	background-size:80%;
}

 .accordion {
 	width: 100%;
 	max-width: 768px;
 	padding-bottom: 20px;
	 margin: 0 auto;
 	/*background: #FFF;*/
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;

 }
.accordion>li{
	margin: 20px 0;

}
.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 70px;
	color: #fff;
	border-radius: 5px;
	font-size: 2.5rem;
	font-weight: 700;
	/*border-bottom: 1px solid #CCC;*/
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: .5rem;
	left: .5rem;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 1.5rem;
	top:2rem ;
	left: auto;
	font-size: 16px;
	display: inline-block;
	width: 43px;
	height: 24px;
	background: url("../images/down-arrow.png") no-repeat center;
}

.accordion li.open .link {
	color: #fff;
	font-size: 2.66rem;
}

.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	/*display: none;*/
 	background: #f5f5f5;
 	font-size: 14px;
 }
 .submenu:first-child{
	 display: block;
 }
 .submenu>div{
	 width: 95%;
	 margin: 20px auto;
 }
 .submenu>div img{
	 width: 100%;
 }
 .submenu>div p{
	 padding: 20px 0;
	 color: #888;
	 font-size: 2.33rem;
 }


 @media screen and  (max-width: 600px){
	 .accordion .link {

		 font-size: 2rem;
		 font-weight: normal;

	 }
	 .submenu>div p{

		 font-size: 1.833rem;
	 }
	 .accordion li.open .link {
		 color: #fff;
		 font-size: 2.166rem;
	 }
	 .accordion li i.fa-chevron-down {
		 right: 1.5rem;
		 top:1.7rem ;
		 /*left: auto;*/
		 /*font-size: 16px;*/
		 /*display: inline-block;*/
		 /*width: 43px;*/
		 /*height: 24px;*/
		 /*background: url("../images/down-arrow.png") no-repeat center;*/
	 }
 }
@media screen and  (max-width: 500px){

	.accordion .link {

		padding: 15px 15px 15px 40px;
		font-size: 1.5rem;


	}
	.submenu>div p{

		font-size: 1.5rem;
	}
	.accordion li.open .link {
		color: #fff;
		font-size: 1.666rem;
	}
	.icon{
		display: inline-block;
		width: 25px;
		height: 25px;

	}
	.icon1{
		background-size:100%;
	}
	.icon2{

		background-size:100%;
	}
	.icon3{

		background-size:100%;
	}
	.icon4{

		background-size:100%;
	}
	.icon5{

		background-size:100%;
	}
	.icon6{

		background-size:100%;
	}
	.icon7{

		background-size:100%;
	}
	.icon8{
		background-size:100%;
	}
	.accordion li i {
		top: 1.3rem;
		left: .5rem;
	}
	.accordion li i.fa-chevron-down {
		right: 1.5rem;
		top:1.6rem ;
		/*left: auto;*/
		/*font-size: 16px;*/
		/*display: inline-block;*/
		width: 25px;
		height: 18px;
		background: url("../images/down-arrow.png") no-repeat center;
		background-size: 100%;
	}
}
@media screen and (max-width: 400px) {
	.accordion .link {
		font-size: 1.2rem;
	}
	.submenu>div p{

		font-size: 1rem;
	}
	.accordion li.open .link {

		font-size: 1.3666rem;
	}
	.accordion li i {
		top: 1rem;
	}
	.accordion li i.fa-chevron-down {
		right: 1.5rem;
		top:1.2rem ;
		/*/!*left: auto;*!/*/
		/*/!*font-size: 16px;*!/*/
		/*/!*display: inline-block;*!/*/
		/*width: 25px;*/
		/*height: 18px;*/
		/*background: url("../images/down-arrow.png") no-repeat center;*/
		/*background-size: 100%;*/
	}
}



 /*.submenu li {*/
 	/*border-bottom: 1px solid #4b4a5e;*/
 /*}*/

 /*.submenu a {*/
 	/*display: block;*/
 	/*text-decoration: none;*/
 	/*color: #d9d9d9;*/
 	/*padding: 12px;*/
 	/*padding-left: 42px;*/
 	/*-webkit-transition: all 0.25s ease;*/
 	/*-o-transition: all 0.25s ease;*/
 	/*transition: all 0.25s ease;*/
 /*}*/

 /*.submenu a:hover {*/
 	/*background: #b63b4d;*/
 	/*color: #FFF;*/
 /*}*/

