.rightside {
	position: fixed;
	right: 0;
	top: 30%;
	/*margin-top: -150px;*/

	height: 207px;

	z-index: 9999;

}

.rightside a {
	display: block;
	/*float: left;*/
	width: 70px;
	height: 70px;
	/*padding: 16px 0;*/
	cursor: pointer;
	border-radius: 5px;
	margin: 1px 0;
	background-color: #63000f;
	position: relative;

}

.rightside a i {
	/*float: left;*/
	display: block;
	width: 50px;
	height: 50px;
	background-position: center;
	background-repeat: no-repeat;
	/*margin: 0 auto;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);


}

.rightside a.a1 {
	/*border-bottom: 1px solid #ddd;*/
}

.rightside a.a1 i {
	background-image: url(../images/phone.png);
	background-size: 80%;
}

.rightside a.a2 i {
	background-image: url(../images/code.png);
	background-size: 80%;
}
.rightside a.a3 i {
	background-image: url(../images/uparrow.png);
	background-size: 80%;
}
.rightside a.a2 {
	position: relative;
	/*border-bottom: 1px solid #ddd;*/
}
.rightside a.a1 h4{

	font-size: 2.167rem;
}
.rightside a.a1 h3{
	margin: 10px auto;
	font-size: 2.42rem;
}
.rightside a.a1 div {
	position: absolute;
	right: 84px;
	top: -25px;
	background: #63000f;
	text-align: center;
	color: #fff;
	width: 260px;
	display: none;
	padding: 10px;
}
.rightside a.a1 div b{
	font-weight: normal;
	display: block;
	position: absolute;
	top: 50px;
	right: -10px;
	/*background-color: #63000f;*/
	width:0;
	height:0;
	border-top:10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #63000f;

}
.rightside a.a2 div {
	position: absolute;
	right: 84px;
	top: -100px;
	background: #63000f;
	text-align: center;

	color: #fff;
	width: 260px;
	display: none;
	padding: 10px;
}
.rightside a.a2 div img{
	width: 80%;

	margin: 10px;
}
.rightside a.a2 div p{

	margin-bottom: 10px;
	font-size: 1.5rem;
}
.rightside a.a2 div b{
	font-weight: normal;
	display: block;
	position: absolute;
	top: 125px;
	right: -10px;
	/*background-color: #63000f;*/
	width:0;
	height:0;
	border-top:10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #63000f;

}
.rightside a.a2:hover div{
	display: block;
}
.rightside a.a1:hover div{
	display: block;
}


.rightside a span {
	float: left;
	width: 100%;
	text-align: center;
	color: #009fe5;
}
@media screen and  (max-width: 1200px){
	.rightside a {
		width: 43.5px;
		height: 43.5px;
	}
	.rightside a i {
		width: 30px;
		height: 30px;
	}
	.rightside a.a1 h3 {

		font-size: 1.5rem;
	}
	.rightside a.a1 h4 {
		font-size: 1.3rem;
	}
	.rightside a.a1 div {

		right: 60px;
		top: -20px;
		width: 150px;

	}
	.rightside a.a1 div b {

		top: 33px;
		right: -10px;

	}
	.rightside a.a2 div p {

		font-size: 1rem;
	}
	.rightside a.a2 div {

		right: 60px;
		top: -65px;

		width: 150px;

	}
	.rightside a.a2 div b {

		top: 80px;

	}
}
@media only screen and (max-width: 768px) {
	.rightside{
		display: none;
	}
}