* {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 768px) {
	html {
		font-size: 12px;
	}
}

.nav_box {
	background: rgba(0, 0, 0, 0.5);
}

.carousel-inner li {
	position: relative;
}

.container {
	width: 62.5%;
}

@media only screen and (max-width: 768px) {
	.container {
		width: 90%;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1245px) {
	.mw1245 {
		width: 100%;
		margin-top: 25px;
	}
}
@media only screen and (max-width: 768px) {
	.main-text .xiao1 a.hvr-bounce-to-bottom{
		font-size: 17px;
	}
	.main-text .xiao2 a.hvr-bounce-to-bottom{
		font-size: 17px;
	}
	.main-text .xiao3 a.hvr-bounce-to-bottom{
		font-size: 17px;
	}
	.main-text p:nth-child(2){
		font-size: 2.0rem !important;
	}

}
@media only screen and (max-width: 767px) {
	.img a.hvr-ripple-out {
		margin-top: 35px !important;
	}
	}

@media only screen and (min-width: 992px) and (max-width: 1371px) {
	.col-md-3 {
		width: 50%;
		margin-top: -20px;
	}
	.main-music P:nth-child(3) {
		margin-bottom: 45px;
	}
	.main-music img {
		margin-bottom: 5px !important;
	}
}

.carousel-inner li img {
	display: block;
}

@font-face {
	font-family: "SourceHanSansCN-Medium_2";
	src: url("../font/SourceHanSansCN-Medium_2.otf");
}

.carousel-inner li h2 {
	font-family: "SourceHanSansCN-Medium_2";
}

.main-text {
	font-family: "SourceHanSansCN-Medium_2";
}

@font-face {
	font-family: "SourceHanSansCN-Normal_2";
	src: url("../font/SourceHanSansCN-Normal_2.otf");
}

.carousel-inner li p {
	font-family: "SourceHanSansCN-Normal_2";
}

@font-face {
	font-family: "SourceHanSansCN-Bold_2";
	src: url("../font/SourceHanSansCN-Bold_2.otf");
}

.carousel-inner li a {
	font-family: "SourceHanSansCN-Normal_2";
}

.main-text .img {
	font-family: "SourceHanSansCN-Bold_2";
}

@font-face {
	font-family: "SourceHanSansCN-Normal_2";
	src: url("../font/SourceHanSansCN-Normal_2.otf");
}

@font-face {
	font-family: "SourceHanSansCN-Regular_2";
	src: url("../font/SourceHanSansCN-Regular_2.otf");
}

.carousel-inner li a {
	font-family: "SourceHanSansCN-Normal_2";
}

@font-face {
	font-family: "SourceHanSansCN-Light_2";
	src: url("../font/SourceHanSansCN-Light_2.otf");
}

.main h3 {
	font-family: "SourceHanSansCN-Light_2";
}

.carousel-inner li h2 {
	position: absolute;
	top: 30%;
	color: white;
	left: 50%;
	font-size: 80px;
	transform: translateX(-50%);
}

.carousel-inner li p {
	position: absolute;
	left: 31%;
	/*right:12%;*/
	top: 43%;
	font-size: 48px;
	color: #ffffff;
}

.carousel-inner li a {
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	background: #e60000;
	padding: 1.0rem 4rem;
	border-radius: 50px;
	text-decoration: none;
	font-size: 48px;
}

.img a.hvr-ripple-out {
	color: white;
	background: #e60000;
	padding: 1.0rem 5rem;
	text-decoration: none;
	font-size: 40px;
	border-radius: 50px;
	margin-top: 90px;
	font-family: "SourceHanSansCN-Bold_2";
}

/*@media only screen and (max-width: 768px) {
	.rightside{
		display: none;
}*/
/*banner*/

.main {
	margin-top: 60px;
}

.main h3 {
	position: relative;
	color: #777777;
	font-size: 48px;
	line-height: 68px;
}

.main-music {
	text-align: center;
	margin-top: 80px;
}

.main-music p {
	margin: 0;
	font-family: CN Bold;
}

@media only screen and (max-width: 767px) {
	.mai.main-text .col-md-4 div {
		min-height: 700px;
	}
	/*.main-text .col-md-4 div {
		min-height: 630px;
		
	}*/
	n-music img {
		width: 100%;
	}
}

.main-music img {
	margin-bottom: 15px;
	/*width: 100%;*/
	webkit-transition: 0.4s;
	-webkit-transition: -webkit-transform 0.4s ease-out;
	transition: transform 0.4s ease-out;
	-moz-transition: -moz-transform 0.4s ease-out;
}

.main-music img:hover {
	transform: rotateZ(360deg);
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
}

a .hvr-ripple-out {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	background: #e60000;
}

.bg-danger {
	background: #f5332e;
}

.bg-blue {
	background: #3860f5;
}

.bg-purple {
	background: #6754ef;
}

.main-text {
	text-align: center;
	margin-top: 88px;
}

.main-text img {
	margin-top: 50px;
	margin-bottom: 38px;
}

.main-text p:nth-child(2) {
	font-size: 36px;
	color: #FFFFFF;
}

.main-text p:nth-child(3) {
	/*max-width: 320px;*/
	text-align: left;
	margin-top: 25px;
	font-size: 24px;
	line-height: 37px;
	font-family: "SourceHanSansCN-Medium_2";
}

.main-text p:nth-child(3) a {
	color: #FFFFFF;
	text-decoration: none;
}

.main-text .col-md-3 {
	margin-right: 70px;
}

.bg-danger p {
	margin-top: 9px;
}

.bg-danger img {}

@media only screen and (min-width: 1246px) {
	.main-text .xiao1 a.hvr-bounce-to-bottom {
		height: 380px;
		margin-top: 2px;
	}
}

@media only screen and (min-width: 1245px) and (max-width: 1809px) {
	.main-text p a {
		font-size: 21px;
		line-height: 25px;
	}
}

@media only screen and (max-width: 991px) {
	.main-text .col-md-4:nth-child(1) {
		padding-left: 15px;
	}
	.main-text .col-md-4 {
		margin-bottom: 20px;
	}
}


/*
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-text .col-md-4 div {
		min-height: 717px;
	}
	.main-text .xiao2 a.hvr-bounce-to-bottom {
		height: 447px;
	}
	.main-text .xiao3 a.hvr-bounce-to-bottom {
		height: 446px;
	}
	.main-text .xiao1 a.hvr-bounce-to-bottom {
		height: 450px;
	}
}*/

@media only screen and (min-width: 1246px) {
	.main-text .col-md-4 div {
		min-height: 606px;
	}
	.main-text .xiao2 a.hvr-bounce-to-bottom {
		height: 377px;
	}
	.main-text .xiao3 a.hvr-bounce-to-bottom {
		height: 376px;
	}
}

@media only screen and (max-width: 1600px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 29%;
		color: white;
		left: 48%;
		font-size: 76px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 25%;
		top: 43%;
		font-size: 46px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 46px;
	}
}

@media only screen and (max-width: 1500px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 27%;
		color: white;
		left: 48%;
		font-size: 72px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 25%;
		top: 43%;
		font-size: 44px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 44px;
	}
}

.main-text .xiao3 a.hvr-bounce-to-bottom {
	margin-top: 2px;
}

@media only screen and (max-width: 1380px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 26%;
		color: white;
		left: 48%;
		font-size: 68px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 24%;
		top: 42%;
		font-size: 42px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 42px;
	}
}

@media only screen and (max-width: 1200px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 23%;
		color: white;
		left: 48%;
		font-size: 62px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 23%;
		top: 40%;
		font-size: 38px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 38px;
	}
}

@media only screen and (max-width: 1080px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 23%;
		color: white;
		left: 48%;
		font-size: 58px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 22%;
		top: 40%;
		font-size: 34px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 34px;
	}
}

@media only screen and (max-width: 900px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 23%;
		color: white;
		left: 48%;
		font-size: 54px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 20%;
		top: 40%;
		font-size: 32px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 32px;
	}
}

@media only screen and (max-width: 768px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 22%;
		color: white;
		left: 48%;
		font-size: 48px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 20%;
		top: 40%;
		font-size: 28px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 30px;
	}
}

@media only screen and (max-width: 652px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 22%;
		color: white;
		left: 48%;
		font-size: 42px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 19%;
		top: 40%;
		font-size: 25px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 26px;
	}
}

.xiao2 a {
	margin-top: 4px;
}

@media only screen and (max-width: 574px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 22%;
		color: white;
		left: 48%;
		font-size: 36px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 17%;
		top: 40%;
		font-size: 22px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 22px;
	}
}

@media only screen and (max-width: 520px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 22%;
		color: white;
		left: 48%;
		font-size: 28px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 16%;
		top: 40%;
		font-size: 18px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 18px;
	}
}

@media only screen and (max-width: 414px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 22%;
		color: white;
		left: 48%;
		font-size: 24px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 16%;
		top: 40%;
		font-size: 16px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 16px;
	}
}

@media only screen and (max-width: 414px) {
	.main h3 {
		font-size: 30px;
	}
}

@media only screen and (max-width: 320px) {
	.carousel-inner li h2 {
		position: absolute;
		top: 22%;
		color: white;
		left: 48%;
		font-size: 22px;
		transform: translateX(-50%);
	}
	.carousel-inner li p {
		position: absolute;
		left: 16%;
		top: 40%;
		font-size: 14px;
		color: #ffffff;
	}
	.carousel-inner li a {
		position: absolute;
		top: 55%;
		left: 47%;
		transform: translateX(-50%);
		color: white;
		background: #e60000;
		padding: 1.0rem 3.2rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
	}
}

.main-text .aa {
	background: #075876;
	height: 100%;
}

.main-text img {
	transition: all 0.6s;
}

.main-text img:hover {
	transform: scale(0.9);
}

#footer {
	border-top: 5px solid #e60000;
	background-color: #000;
	color: #e0e0e0;
	font-size: 1.666rem;
	padding: 30px 0 10px;
	margin-top: 100px;
}

@media screen and (max-width: 768px) {
	.main h3 i {
		display: block;
		width: 20%;
		border: 3px solid #e60000;
		margin: 0 auto;
		margin-top: 6px;
	}
	.main h3 {
		color: #000;
		font-size: 2.2rem;
		font-weight: normal;
		text-align: center;
	}
}

@media only screen and (min-width: 769px) {
	h3 i {
		border-bottom: 7px solid #e60000;
		position: absolute;
		width: 97px;
		left: 0;
		top: 65px;
	}
}

@media only screen and (max-width: 767px) {
	.main-music {
		margin-top: 0;
	}
	.main-music img {
		margin-bottom: 5px;
		margin-top: 30px;
	}
	.main {
		margin-top: 30px;
	}
	.main h3 {
		line-height: 40px;
	}
	.main-text {
		margin-top: 40px;
	}
	.main-text .img a {
		margin-top: 20px;
	}
	#footer {
		margin-top: 48px;
	}
}

@media only screen and (min-width: 767px) {
	.main-music p {
		font-size: 16px;
	}
}

.main-music div {
	padding-left: 0;
}

.main-music P {
	font-size: 16px;
}

@media only screen and (max-width: 320px) {
	.main-text p:nth-child(2) {
		font-size: 24px;
	}
	/*.main-text a {
		font-size: 1.0em !important;
	}*/
	.main h3 {
		font-size: 1.8rem;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.main-music img {
		margin-bottom: 5px;
		margin-top: 30px;
	}
	.main-music {
		margin-top: 0;
	}
}

.carousel-inner li h2 {
	font-family: SourceHanSansCN-Medium_2;
}

.carousel-inner li p {
	font-family: SourceHanSansCN-Normal_2;
}

@media only screen and (min-width: 375px) and (max-width: 414px) {
	.carousel-inner li p {
		position: absolute;
		left: 18%;
		top: 40%;
		font-size: 16px;
		color: #ffffff;
	}
}

.img {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.img a.hvr-ripple-out {
		color: white;
		background: #e60000;
		padding: 1.0rem 4rem;
		border-radius: 50px;
		text-decoration: none;
		font-size: 26px;
		margin-top: 35px;
	}
}

.main-music p {
	font-family: "SourceHanSansCN-Medium_2";
	/*font-size: 20px;*/
}

@media only screen and (max-width: 768px) {
	.main h3 {
		font-family: "SourceHanSansCN-Normal_2";
		/*font-size:30px ;*/
	}
}
@media only screen and (max-width: 414px) {
	.main h3{
		font-size: 2.0rem;
	}
}
.main-music .tx1 {
	font-size: 20px;
	font-family: SourceHanSansCN-Regular_2;
}
.main-music .tx3{
	font-size: 20px;
}
.main-music .tx2 {
	font-size: 27px;
}
.main-music .tx5{
	font-size: 17px;
}
.main-music .tx6{
	font-size: 20px;
}
.main-music .tx7{
	font-size: 19px;
}
.main-music .tx8{
	font-size: 25px;
}